@media (max-width: 1400px) {
   .catalog,
   .offer {
      & .box {
         img {
            width: 100%;
            left: 0;
            object-fit: contain;
         }
      }
   }

   .catalog {
      &__boxes {
         gap: 10px;
      }
      .product {
         & .hr {
            width: calc(184px + 203 * ((100vw - 769px) / (1380 - 769)));
         }
      }
   }
   .offer {
      &__items {
         gap: 10px;
      }
   }
}
@media (max-width: 1300px) {
   .invitation {
      &__info {
         top: 25%;
         left: 10%;
      }
      // &__subtitle {
      //    & span {
      //       width: 100%;
      //    }
      // }
   }
   .about {
      &__img {
         width: 40%;
      }
   }
}
@media (max-width: 1200px) {
   .invitation {
      &__row {
         padding: 100px 0;
      }
      &__title {
         font-size: calc(16px + 20 * ((100vw - 320px) / (1380 - 320)));
      }
      &__subtitle {
         font-size: calc(12px + 28 * ((100vw - 320px) / (1380 - 320)));
         line-height: calc(15px + 37 * ((100vw - 320px) / (1380 - 320)));
         span {
            width: 188px;
            display: block;
         }
      }
   }
   .product {
      &__name {
         bottom: 115px;
      }
      & .hr {
         bottom: 100px;
         // width: 84%;
      }
      &__price-section {
         line-height: 24px;
      }
      &__prices {
         flex-direction: column;
         width: 110px;
      }
   }
   .box {
      .catalog__img {
         img {
            top: calc(67px + 0px * ((100vw - 320px) / (1380 - 320)));
         }
      }
   }
}

@media (max-width: 1100px) {
   .logo {
      margin-right: 80px;
   }
   .menu__row {
      ul {
         li {
            margin-right: 26px;
         }
      }
   }
   .promo {
      // background: url('../img/promo/promo-bg-smaller.webp') center center/cover no-repeat;
   }
   .about {
      padding: 110px 30px 110px;
   }
   .catalog {
      .hr {
         // width: 84%;
      }
   }
}
@media (max-width: 991px) {
   .menu {
      &__row {
         display: none;
      }
   }
   .promo {
      &__info {
         width: 430px;
      }
      &__title {
         font-size: calc(26px + 10 * ((100vw - 320px) / (1380 - 320)));
      }
      &__subtitle {
         font-size: calc(38px + 32 * ((100vw - 320px) / (1380 - 320)));
         line-height: calc(50px + 34 * ((100vw - 320px) / (1380 - 320)));
      }
   }
   .invitation {
      &__info {
         // top: 58px;
      }
      &__title {
         line-height: 55px;
      }
   }
   .about {
      &__title {
         font-size: calc(19px + 17 * ((100vw - 320px) / (1380 - 320)));
      }
      &__subtitle {
         font-size: calc(25px + 20 * ((100vw - 320px) / (1380 - 320)));
         line-height: calc(34px + 24 * ((100vw - 320px) / (1380 - 320)));
      }
      &__text {
         line-height: calc(28px + 4 * ((100vw - 320px) / (1380 - 320)));
      }
   }
   .product {
      .old-price {
         font-size: 14px;
      }
      .new-price {
         font-size: 15px;
      }
      .rating {
         width: 81px;
         &__stars {
            width: 94%;
            height: 14px;
         }
      }
   }
   .hr {
      // width: 81%;
   }
   .catalog{
      &__title {
         font-size: calc(24px + 12 * ((100vw - 320px) / (1380 - 320)));
      }
      &__subtitle {
         font-size: calc(32px + 13 * ((100vw - 320px) / (1380 - 320)));
      }
   }
   .testimonials{
      &__title {
         font-size: calc(24px + 12 * ((100vw - 320px) / (1380 - 320)));
      }
      &__subtitle {
         font-size: calc(28px + 17 * ((100vw - 320px) / (1380 - 320)));
         line-height: calc(34px + 24 * ((100vw - 320px) / (1380 - 320)));
         text-align: center;
      }
   }
}
@media (max-width: 768px) {
   .promo {
      &__info {
         width: 368px;
      }
   }
   .invitation {
      &__row {
         padding: 80px 0;
      }
      &__item {
         position: none;
      }
      &__info {
         width: 160px;
      }
      &__title {
         line-height: 46px;
      }
   }
   .about {
      padding: 90px 30px 90px;
      &__row {
         flex-direction: column;
      }
      &__img {
         width: 100%;
         height: 200px;
         height: 300px;
      }
      &__link {
         width: 180px;
         height: 75px;
         & span {
            margin-left: 30px;
         }
         & img {
            margin: 0 13px 0 0;
         }
      }
   }
   .product {
      &__name {
         bottom: 155px;
         left: 50%;
         bottom: 132px;
         transform: translateX(-50%);
         width: 200px;
         text-align: center;
      }
      & .hr {
         bottom: 111px;
         width: 311px;
         // width: calc(311px + 201 * ((100vw - 320px) / (1380 - 320)));
      }
      &__price-section {
         gap: 10px;
      }
      &__prices {
         margin: auto;
         .old-price {
            align-self: center;
            font-size: 15px;
         }
         .new-price {
            align-self: center;
            font-size: 16px;
         }
      }
      .rating {
         &__stars {
            width: 100%;
            height: 15px;
         }
      }
   }
   .catalog {
      &__boxes {
         grid-template-columns: repeat(2, minmax(100px, 447px));
         grid-template-rows: repeat(3, minmax(150px, 590px));
      }
   }
   .offer {
      &__items {
         grid-template-columns: repeat(2, minmax(100px, 447px));
         grid-template-rows: repeat(3, minmax(150px, 590px));
      }
   }
}
@media (max-width: 576px) {
   .promo {
      &__info {
         width: 325px;
      }
      &__button {
         width: 200px;
         height: 73px;
         & span {
            top: 26px;
            left: 28px;
            font-size: 18px;
         }
         & img {
            top: 20px;
            padding: 9px;
         }
      }
   }
   .invitation {
      &__row {
         padding: 60px 0;
      }
      // &__info {
      //    top: 32px;
      //    left: 30px;
      // }
      &__title {
         line-height: 33px;
      }
      &__subtitle {
         & span {
            max-width: 120px;
         }
      }
   }
   .about {
      padding: 75px 21px;
      &__img {
         margin-right: 20px;
         height: 250px;
      }
      &__item {
         & img {
            width: 60px;
            height: 60px;
            padding: 10px 6px;
            border-radius: 15px;
         }
      }
      .item-text {
         &__head {
            font-size: calc(21px + 4 * ((100vw - 320px) / (1380 - 320)));
            // line-height: calc(31px + 1 * ((100vw - 320px) / (1380 - 320)));
         }
         &__desc {
            font-size: calc(17px + 1 * ((100vw - 320px) / (1380 - 320)));
            line-height: calc(24px + 8 * ((100vw - 320px) / (1380 - 320)));
         }
      }
      &__link {
         width: 150px;
         height: 60px;
         & span {
            margin-left: 21px;
         }
         & img {
            margin: 0 10px 0 0;
            padding: 7px;
         }
      }
   }
}

@media (max-width: 470px) {
   .promo__info {
      left: 25px;
   }
   .invitation {
      &__row {
         padding: 50px 0;
      }
      &__info {
         width: 113px;
      }
      &__title {
         line-height: 22px;
      }
      &__subtitle {
         & span {
            width: 100%;
         }
      }
   }
}
@media (max-width: 320px) {
}
