.header {
   &__row {
      padding: 40px 30px;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      position: relative;
      &__main {
      }

      &__main-wrapper {
         display: flex;
         align-items: center;
      }

      &__cart {
      }
   }
}

.logo {
   img {
      width: 200px;
      height: 56px;
   }
   margin-right: 120px;
}
.menu {
   display: flex;
   align-items: center;
   display: flex;

   li {
      margin-right: 40px;

      a {
         color: $main-grey;
         font-size: 19px;
         &:hover {
            color: #7eb693;
         }
      }

      &:last-child {
         margin-right: 0;
         margin-left: 20px;
      }
   }

}
.cart {
   width: 159px;
   height: 70px;
   margin-left: auto;
   &__row {
      display: flex;
      align-items: center;
      border: 1px solid #d4d4d4;
      border-radius: 33px;
      padding: 7px 30px 7px 11px;
   }
   &__itself {
      background: $main-grey;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      img {
         width: 26px;
      }
   }
   &__num {
      display: flex;
      font-size: 17px;
      & span {
         &:first-child {
            display: inline-block;
            margin-right: 7px;
         }
      }
   }
}
.hamburger {
   display: none;
}
