.news {
   padding: 130px 0 110px;
   &__titles {
      display: flex;
      justify-content: space-between;
      height: 210px;
      margin-bottom: 40px;
   }

   &__title {
   }

   &__subtitle {
      font-weight: 700;
      font-size: 45px;
      line-height: 58px;
      text-transform: capitalize;
      margin-bottom: 38px;
   }

   &__button {
      margin-right: 10px;
      align-self: center;
      background: transparent;
      border: 1px solid $main_grey;
      color: $main_grey;
   }

   &__cards {
      display: flex;
      justify-content: space-between;
      max-width: 1370px;
      height: 635px;
      margin: 0 5px;
   }

   &__item {
      position: relative;
      img {
         max-width: 670px;
      }
      a {
         color: $main_grey;
         position: absolute;
         top: 250px;
         left: 35px;
         z-index: 2;
      }
      .subtitle {
         font-size: 24px;
      }
   }

   &__new {
      background: #ffffff;
      box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
      border-radius: 30px;
      width: 610px;
      height: 337px;
      padding: 50px;
      .button {
         height: 48px;
         border-radius: 0;
         background: transparent;
         border: none;
         span {
            left: 0;
            top: 10px;
            font-size: 20px;
            line-height: 28px;
         }
         img {
            top: 12px;
            left: 109px;
            padding: 6px 6px 7px 5px;
         }
      }
   }

   &__name {
      img {
         margin-right: 10px;
      }
      span {
         line-height: 23px;
      }
   }

   &__content {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #525c60;
      width: 442px;
      margin-bottom: 12px;
   }
}
.container {
}
.title {
}
