.news {
   padding: 130px 10px 110px;
   // min-height: 1076px;
   &__titles {
      display: flex;
      justify-content: space-between;
      // height: 210px;
      margin-bottom: 40px;
   }

   &__title {
   }

   &__subtitle {
      font-weight: 700;
      font-size: 45px;
      line-height: 58px;
      text-transform: capitalize;
      margin-bottom: 38px;
   }

   &__button {
      margin-right: 10px;
      // margin-left: 30px;
      align-self: center;
      background: transparent;
      border: 1px solid $main_grey;
      color: $main_grey;
      min-width: 219px;
   }

   &__cards {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      max-width: 1370px;
      min-height: 635px;
   }
   &__img {
      // max-width: 670px;
      width: 100%;
   }
   &__item {
      position: relative;
   }

   &__new {
      background: #ffffff;
      box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
      border-radius: 30px;
      // max-width: 610px;
      max-width: 92%;
      min-height: 337px;
      padding: 53px 42px 50px 50px;
      color: $main_grey;
      position: absolute;
      top: 250px;
      left: 30px;
      z-index: 2;
      .subtitle {
         // font-size: 24px;
         font-size: 25px;
         font-weight: 700;
         line-height: 35px;
         letter-spacing: 0.36px;
         margin-bottom: 34px;
      }
      .button {
         display: block;
         height: 48px;
         border-radius: 0;
         background: transparent;
         border: none;
         width: 130px;
         span {
            left: 0;
            top: 10px;
            font-size: 20px;
            line-height: 28px;
            color: $main_grey;
         }
         img {
            top: 15px;
            left: 109px;
            margin-right: 0;
            padding: 6px 6px 7px 5px;
         }
      }
   }

   &__name {
      img {
         margin-right: 10px;
         margin-bottom: 12px;
      }
      span {
         line-height: 23px;
      }
   }

   &__content {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #525c60;
      max-width: 442px;
      margin-bottom: 20px;
   }
}
.container {
}
.title {
}
